<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://kit.fontawesome.com/9c01b07d37.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
</head>

<body class="pages profile-page">

    <div id="animation"></div>

    <nav>
        <a href="/"><img src="/images/beer-now.png" alt="BeerNow Logo" id="logo"></a>
        <div class="menu">
            <p>{{user.username}}</p>
        </div>
    </nav>

    <div class="imgContact pages">
        <img src="{{user.picture}}" alt="">
    </div>

    <div class="contact beer-head">
        <div class="name title is-2 has-text-weight-bold">
            <p>{{user.username}}</p>
        </div>

        <div class="location">
            <p class="locate-message"><img src="/images/map-pin.svg" alt=""><span>From {{user.city}},{{user.country}}</span></p>
        </div>
    </div>
    <section class="favoriteBeers">
        <h2 class="title is-4">Your favorite beers</h2>
        <hr>

        <div class="favoriteBeer">
            {{#each user.favoriteBeers}}
            <div class="favoriteBox">
                <div class="img-beer">
                    <img src="{{this.image}}" alt="">
                </div>
                <div class="name">
                    <p>{{this.name}}</p>
                </div>
            </div>
            {{/each}}

        </div>

    </section>

    <section class="favoriteBeers">
        <h2 class="title is-4">Your favorite bars</h2>
        <hr>

        <div class="favoriteBeer">
            {{#each user.favoriteBars}}
            <div class="favoriteBox">
                <div class="img-beer">
                    <img src="{{this.image}}" alt="">
                </div>
                <div class="name">
                    <p>{{this.name}}</p>
                </div>
            </div>
            {{/each}}

        </div>

    </section>

</body>

</html>