<section id="translate">
  <p id="location"></p>
  <h1>{{result}}</h1>


  <input type="hidden" id="coords" value="{{coords}}">

  <audio controls>
    <source src="http://localhost:3000/sounds/output.mp3" type="audio/mp3">
  </audio>

  <p>Listen to it</p>

</section>

<section id="bars">
  <h2>There is <span id="bars-num"></span> near you</h2>
  <div id="map"></div>
  <a href="/bars">See the complete list</a>
</section>

<section id="beers">
  <h2>We've found<span id="beers-num"></span> local beers!</h2>


{{#each beerList}}
<a href="/beers/details/{{this._id}}">
<div class="boxBeer">
  <div class="imgBeer">
    <img src="{{this.image}}" alt="">
  </div>
  <div class="descriptionBeer">
    <h2>{{this.name}}</h2>
    <h3>{{this.style}}</h3>
    <p>ALC. {{this.alcohol}}% VOL</p>
  </div>
</div>
</a>
{{/each}}
  <a href="/beers/">See the complete list</a>
</section>


<script src="{{apiUrl}}"></script>
<script>
  let city, country;
  let coords = document.querySelector('#coords').value.split(",")

  function startMap() {
    const userCenter = {
      lat: +coords[0],
      lng: +coords[1]
    };

    const map = new google.maps.Map(
      document.getElementById('map'),
      {
        zoom: 15,
        center: userCenter
      }
    );

    showMarkers(map, userCenter.lat, userCenter.lng)


    // Add a marker for your user location
    const marker = new google.maps.Marker({
      position: {
        lat: +coords[0],
        lng: +coords[1]
      },
      map: map,
      title: "You are here."
    });


  }

  startMap();

  function showMarkers(map, lat, lng) {
    axios
      .get(
        `https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=${lat},${lng}&radius=1500&type=bar&opennow=true&key=AIzaSyD_zFC1JIj0EgKS8Fp0GZw3MiXR1wiDxEg`
      )
      .then(barsPayload => {
                  console.log(barsPayload)

        barsPayload.data.results.forEach(results => {
          let marker = new google.maps.Marker({
            position: results.geometry.location,
            map: map,
            title: results.name,
            icon: '/images/icon-beer.png',
          });

          var infowindow = new google.maps.InfoWindow({
            content: results.name
          });

          marker.addListener("click", function () {
            infowindow.open(map, marker);
          });
        });
      })
      .catch(err => console.log(err));
  }

</script>

