<div class="results-container container">
  <section id="translate">

    <p id="locate-message"><img src="/images/map-pin.svg" alt=""><span>You are at {{city}}, {{country}}</span></p>
    <h1 class="title">{{result}}</h1>

    <input type="hidden" id="coords" value="{{coords}}">

    <audio controls>
      <source src="http://localhost:3000/sounds/output.mp3" type="audio/mp3">
    </audio>
    {{!-- <p>Listen to it</p> --}}

  </section>

  <section id="bars" class="beer-head">
    <h2 id="bars-num" class="title is-4"></h2>
    <div id="map"></div>
    <a id="bars-link" href="" class="btn button is-primary is-rounded is-medium">See the complete list</a>
  </section>

  <section id="beers">
    <h2 class="title is-4">We've found <span id="beers-num">{{beerList.length}}</span> local beers!</h2>



    {{#each beerList}}
    <a href="/beers/details/{{this._id}}">
      <div class="box-item">
        <div class="img-container">
          <img src="{{this.image}}" alt="">
        </div>
        <div class="description">
          <h2 class="title is-4">{{this.name}}</h2>
          <h3 class="subtitle is-5">{{this.style}}</h3>
          <p class="alc has-text-weight-semibold">ALC. {{this.alcohol}}% VOL</p>
        </div>
      </div>
    </a>
    {{/each}}
    <a href="/beers/" class="btn button is-primary is-rounded is-medium">See the complete list</a>
  </section>

</div>

<script src="{{apiUrl}}"></script>
<script>

  let numBars = document.querySelector("#bars-num")
  let locateMessage = document.querySelector("#locate-message")
  let city, country;
  let coords = document.querySelector('#coords').value.split(",")
  let barsLink = document.querySelector("#bars-link")

  barsLink.setAttribute('href', `/bars/${coords[0]}/${coords[1]}`)

  function startMap() {
    const userCenter = {
      lat: +coords[0],
      lng: +coords[1]
    };

    const map = new google.maps.Map(
      document.getElementById('map'),
      {
        zoom: 15,
        center: userCenter,
        disableDefaultUI: true
      }
    );

    showMarkers(map, userCenter.lat, userCenter.lng)


    // Add a marker for your user location
    const marker = new google.maps.Marker({
      position: {
        lat: +coords[0],
        lng: +coords[1]
      },
      map: map,
      title: "You are here."
    });


  }

  startMap();

  function showMarkers(map, lat, lng) {
    axios
      .get(
        `/bars-nearby/${lat}/${lng}`
      )
      .then(barsPayload => {

        numBars.innerHTML = `There's <span >${barsPayload.data.length}</span> bars near you!`
        barsPayload.data.forEach((results, arr) => {
          let marker = new google.maps.Marker({
            position: results.geometry.location,
            map: map,
            title: results.name,
            icon: '/images/beer-pin-48.svg',
          });

          var infowindow = new google.maps.InfoWindow({
            content: results.name
          });

          marker.addListener("click", function () {
            infowindow.open(map, marker);
          });
        });
      })
      .catch(err => console.log(err));
  }

</script>