<div class="detailsBeer">
  <div class="description">
    <h1>{{name}}</h1>
    <p>{{style}}</p>
  </div>
  <div class="imgDetails">
    <img src="{{image}}" alt="">
  </div>
  <div class="rate">
    <div class="stars">
      XXXXXXX
    </div>
    <div class="alcohol">
      <p>Alc. {{alcohol}}% vol.</p>
    </div>
  </div>
  <div class="beerInfo">
    <p>{{description}}</p>
  </div>
  <form action="/beers/details/{{_id}}" method="post">
    <div class="Comment">
      <p>What do you think?</p>
      <textarea name="comment" id="" cols="30" rows="10"></textarea>
      <div class="rateSubmit">
        <div class="stars">
          XXXXXXX
        </div>
        <div class="submit">
          <button>SUBMIT</button>
        </div>
      </div>
      <hr>
    </div>
  </form>
  <div class="beerComments">
    <p>14 Comments on this beer</p>
  </div>


</div>