<h2>Una birra, per favore!</h2>

<p>There is {{beers.length}} local beers for you</p>

{{#each beers}}
<a href="/beers/details/{{this._id}}">
  <div class="box-item">
    <div class="img-container">
      <img src="{{this.image}}" alt="">
    </div>
    <div class="description">
      <h2 class="title is-4">{{this.name}}</h2>
      <h3 class="subtitle is-5">{{this.style}}</h3>
      <p class="alc has-text-weight-semibold">ALC. {{this.alcohol}}% VOL</p>
    </div>
  </div>
</a>
{{/each}}