<h2>Una birra, per favore!</h2>

<p>There is {{beers.length}} local beers for you</p>

{{#each beers}}
<a href="/beers/details/{{this._id}}">
<div class="boxBeer">
  <div class="imgBeer">
    <img src="{{this.image}}" alt="">
  </div>
  <div class="descriptionBeer">
    <h2>{{this.name}}</h2>
    <h3>{{this.style}}</h3>
    <p>ALC. {{this.alcohol}}% VOL</p>
  </div>
</div>
</a>

{{/each}}