<div class="list-container bn-container">
  <section class="header">
    <div class="container">
      <h2 class="title is-2 has-text-weight-bold">Beers</h2>
      <p class="subtitle is-4">We've {{beers.length}} local beers!</p>
    </div>
  </section>
  <section class="content beer-head beer-head-yellow">
    <div class="container  cards-parent">
      {{#each beers}}
      <a href="/beers/details/{{this._id}}">
        <div class="box-item">
          <div class="img-container">
            <img src="{{this.image}}" alt="">
          </div>
          <div class="description">
            <h2 class="title is-4">{{this.name}}</h2>
            <h3 class="subtitle is-6">{{this.style}}</h3>
            <p class="alc has-text-weight-semibold">ALC. {{this.alcohol}}% VOL</p>
          </div>
        </div>
      </a>
      {{/each}}
    </div>
  </section>
</div>